<div class="container">
  <%= form_for @item do |f|%>
    <%= f.hidden_field :user_id, value: current_user.id%>
  <div class="container--title">
    <h1>商品の情報を入力してください</h1>
  </div>
  <div class="container--main">
    <div class="container--main__in">
      <div for="input">写真を選択してください</div>
      <%= f.file_field :image %>
    </div>
    <div class="container--main__in">
      <div for="input">商品名</div>
      <%= f.text_field :name, class: 'name-form', placeholder: '商品名（必須40字まで）' %>
    </div>
    <div class="container--main__in">
      <div for="input">商品の詳細</div>
      <%= f.text_area :description, class: 'description-form', placeholder: '商品の説明（必須1000文字以内)'%>
    </div>
    <div class="container--main__in2">
      <label for="input">大学名</label>
      <%= f.text_field :local, class: "local-form", placeholder: '商品を売りたい大学名（必須）' %>
    </div>
    <div class="container--main__in2">
      <label for="input">商品の状態</label>
      <%= f.select :state, State.states.keys, prompt: "---" %>
      <i class="fa fa-angle-down"></i>
    </div>
    <div class="container--main__in3">
      <label for="input">販売価格</label>
      <div class="price-content">
        <label>¥</label>
        <%= f.text_field :price, class:"price-form", placeholder: '例）300'%>
      </div>
    </div>
  </div>
  <div class="container--button">
    <div>
      <%= f.button "出品する", class: "btn-success" %>
    </div>
    <div>
      <%= link_to root_path ,class: "btn-secondary btn-block" do%>
        ホームにもどる
      <% end %>
    </div>
  </div>
  <% end %>
</div>